* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%; }

* {
  font-family: Arial; }

html {
  font-size: 10px; }

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 0 26px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .tab-bar {
      background-color: #fafafa; } }

@media (min-width: 768px) {
  body .container {
    max-width: 960px;
    margin: 0 auto;
    background: #fafafa; } }
body header {
  background: #fafafa;
  margin-bottom: 10px;
  width: 100%; }
  @media (min-width: 768px) {
    body header {
      margin-bottom: 30px; } }
  body header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 44px;
    background-color: #f2f2f2;
    padding: 10px 10px;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      body header .logo {
        background-color: #fafafa; } }
    body header .logo .logo-img {
      width: 105px;
      height: auto; }
      @media (min-width: 768px) {
        body header .logo .logo-img {
          background-color: #fafafa;
          width: 200px;
          height: auto; } }
    body header .logo .action-icon {
      width: 24px;
      height: auto;
      cursor: pointer; }
  body header .input-box {
    display: flex;
    justify-content: flex-start;
    align-items: 0;
    flex-direction: row;
    width: calc(100% - 12px);
    background-color: #ebe7e7;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 6px; }
    body header .input-box .input-img {
      margin: 10px 5px;
      padding-left: 10px; }
      body header .input-box .input-img img {
        width: 15px;
        height: auto; }
    body header .input-box .input-search {
      border: none;
      background: transparent;
      height: 36px;
      font-size: 16px; }
  body header .menu-links {
    width: 100%; }
    body header .menu-links .nav-list {
      display: flex;
      flex-direction: row;
      padding: 1px 8px;
      gap: 6px;
      overflow-x: auto; }
      body header .menu-links .nav-list::-webkit-scrollbar {
        display: none; }
      body header .menu-links .nav-list .button {
        display: flex;
        justify-content: center;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(60, 60, 67, 0.18);
        box-sizing: border-box;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; }
body .container-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start; }
  @media (min-width: 768px) {
    body .container-feed {
      gap: 30px; } }
  body .container-feed .feed-img {
    display: block;
    width: 100%;
    min-width: 105px; }

/*# sourceMappingURL=search.css.map */
