@import "../styles.scss";

body {
  .container{
    @media (min-width: $breakpoint-tablet){
    max-width: 960px;
    margin: 0 auto;
    background: $background-primary;
    }

  }


  header {
    background: $background-primary;
    margin-bottom: 10px;
    width: 100%;
    @media (min-width: $breakpoint-tablet){
      margin-bottom: 30px;
    }

    .logo{
      @include simple-flex(space-between, center, row);
      width: 100%;
      min-height: 44px;
      background-color: $background-secondary;
      padding: 10px 10px;
      box-sizing: border-box;
    
      @media (min-width: $breakpoint-tablet) {
        background-color: $background-primary;
      }
    
      .logo-img {
        width: 105px;
        height: auto;
        @media (min-width: $breakpoint-tablet) {
          background-color: $background-primary;
          width: 200px;
          height: auto;
        }
      }
    
      .action-icon {
        width: 24px;
        height: auto;
        cursor: pointer;
      }
    }


    .input-box {
      @include simple-flex(flex-start, 0, row);
      width: calc(100% - 12px);
      background-color: #ebe7e7;
      border-radius: 10px;
      box-sizing: border-box;
      margin: 6px;

      .input-img {
        margin: 10px 5px;
        padding-left: 10px;

        img {
          width: 15px;
          height: auto;
        }
      }

      .input-search {
        border: none;
        background: transparent;
        height: 36px;
        font-size: 16px;
      }
    }

    .menu-links {
      width: 100%;

      .nav-list {
        display: flex;
        flex-direction: row;
        padding: 1px 8px;
        gap: 6px;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .button {
          display: flex;
          justify-content: center;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid rgba(60, 60, 67, 0.18);
          box-sizing: border-box;
          border-radius: 6px;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .container-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (min-width: $breakpoint-tablet){
      gap: 30px;
      }

    .feed-img {
      display: block;
      width: 100%;
      min-width: 105px;

    }
  }
}